<div id="<%= dom_id bill %>">
  <p>
    <strong>Description:</strong>
    <%= bill.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Date of payment:</strong>
    <%= bill.date_of_payment %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= bill.category_id %>
  </p>

</div>
